.containerModulo{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.linkModule{
    border: none;
    background-color: transparent;
    color: black;
}

